<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnyuv4l2o02Iv1OMXnNSrugzAYMLaAveA</string>
	<key>GCM_SENDER_ID</key>
	<string>269506304236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wenia</string>
	<key>PROJECT_ID</key>
	<string>wenia-8c737</string>
	<key>STORAGE_BUCKET</key>
	<string>wenia-8c737.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269506304236:ios:24684a50f9b47977cd2dc9</string>
</dict>
</plist>